<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>{% block title %}TTL-Emulator{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('handle_clock') }}">
                        <label for="cwidth">Pulse Width (ex: 1 for 1μs, 100 for 1ms)</label><br/>
                        <input type="number" name="cwidth"><br/>
                        <label for="cfreq">Frequency (ex: 1 for 1Hz, 1,000 for 1kHz)</label><br/>
                        <input type="number" name="cfreq"><br/>
                        <button type="submit" class="btn btn-success" name="clock">Clock</button>
                    </form>
                </div>
                <div class="col-6">
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('handle_random') }}">
                        <label for="rwidth">Pulse Width (ex: 1 for 1μs, 100 for 1ms)</label><br/>
                        <input type="number" id="rwidth" name="rwidth"><br/>
                        <label for="rfreq">Centralized Frequency (ex: 100 =&gt; ~100Hz)</label><br/>
                        <input type="number" id="rfreq" name="rfreq"><br/>                        
                        <button type="submit" class="btn btn-success" name="random">Random</button>
                    </form>
                </div>
            </div>
            <form method="POST" class="position-absolute top-50 start-50 translate-middle" action="{{ url_for('handle_stop') }}">
                <button class="btn bg-danger p-5 mb-4 rounded-3" type="submit" name="stop" method="stop">
                    <div class="container-fluid py-5 bg-danger">
                    <h1 class="display-5 fw-bold text-dark bg-danger">STOP</h1>
                    </div>
                </button>
            </form>
        </div>
    </body>
</html>